
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../font/OpenSans-Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),  url('../font/OpenSans-Regular/OpenSans-Regular.woff') format('woff'), url('../font/OpenSans-Regular/OpenSans-Regular.ttf')  format('truetype'), url('../font/OpenSans-Regular/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'VarelaRound-Regular';
    src: url('../font/VarelaRound-Regular/VarelaRound-Regular.eot?#iefix') format('embedded-opentype'),  url('../font/VarelaRound-Regular/VarelaRound-Regular.woff') format('woff'), url('../font/VarelaRound-Regular/VarelaRound-Regular.ttf')  format('truetype'), url('../font/VarelaRound-Regular/VarelaRound-Regular.svg#VarelaRound-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
    