.header{
    font-size:14px;
    padding: 1rem 0 1rem;
    &-navbar .navbar-nav .nav-link{
        color: $w-text;
        padding-left:30px;
    }
    &-navbar .nav-item.active .nav-link,
    &-navbar .nav-item:hover .nav-link{
        color: $btn-color;
    }
    &-navbar-toggler:focus{
        outline: 0;
        box-shadow: 0 0 0 0.1rem $blue-color;
    }
}
.brand{
    font-family: 'VarelaRound-Regular', sans-serif;
    padding-left: 1rem;
    line-height: 1rem;
    font-size: 28px;
    &-color{
        color: $btn-color;
    }
    &-size{
        font-size: 12px;
    }
}
.brand:hover{
    color: $btn-color;
}





