$darkest-color:#2c3e50;
$dark-color:#34495e;
$blue-color: #85d6de;
$w-text: #fff;
$l-text:#758594;
$pink-color:#fe8f8c;

$btn-color: #fed37f;
$btn-color-hover: darken(#fed37f, 15%);
$gardient: lighten(#2c3e50, 45%);


